body {
    background-color: rgb(23, 5, 74);
    padding: 60px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 200px;
    border-radius: 30px;
    height: 40px;
    text-align: center;
    color: aliceblue;

}
.textlar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.rasm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 200px;
}
button {
    width: 264px;
    height: 118px;
    background-color: black;
    color: aliceblue;
    border-radius: 40px;
    align-items: center;
}

.parent-1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.parent-2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.parent-3 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.card {
    background-color:red;
    padding: 40px;
    border-radius:50px;
}

.card p {
    background-color:yellow;
    padding: 30px;
    border-radius:30px;
}
